/* CSS declarations go here */

/* TOPBAR */
.topbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background-color: #29857C;
	height: 51px;
}
.topbar h1 {
	color: white;
	font-size: 36px;
	margin: 0;
	padding-top: 5px;
	width: 200px;
	position: absolute;
	top: 0;
	left: calc(50% - 100px);
}
.topbar-ghost {
	height: 51px;
}
.home-content {
	margin-top: 5%;
}
.right-align {
	float: right;
}
.topbar-pic {
	margin-right: 20px;
	height: 51px;
}
.topbar-logout {
	margin-top: 8px;
	margin-right: 20px;
}
#center {
	float: none;
}
#dumbfix {
	margin-left: -15px;
}
