/* CSS declarations go here */

/* TOPBAR */
.topbar {
	width: 100%;
	position: fixed;
    z-index: 1;
	top: 0;
	left: 0;
	text-align: center;
	background-color: #29857C;
	height: 51px;
}
.topbar a {
	color: white;
	font-size: 36px;
	margin: 0;
	width: 200px;
	position: absolute;
	top: 0;
	left: calc(50% - 100px);
	text-decoration: none;
}
.topbar a:hover {
	text-decoration: none;
}
.topbar-ghost {
	height: 51px;
}
.home-content {
	margin-top: 5%;
}
.right-align {
	float: right;
}
.topbar-pic {
	margin-right: 20px;
	height: 51px;
}
.topbar-logout {
	margin-top: 8px;
	margin-right: 20px;
}
#center {
	float: none;
}
#dumbfix {
	margin-left: -15px;
}

.proposal-form {
	max-width: 720px;
}
.cost-input {
	width: 30%;
}
.added-friend {
	width: 40%;
	line-height: 250%;
}
.delete-friend {
	float: right;
}
.cancel {
	margin-right: 10%;
}
.select-friends {
	margin-bottom: 30px;
}

.proposal {
	margin-top: 30px;
	background-color: #EDEAFA;
	padding: 30px;
	border-radius: 4px;
}
.proposal p {
	margin: 0;
	padding-bottom: 0;
}
.purchase-list {
	padding: 0;
}
#accept-butt {
	margin: auto;
}
#reject-butt {
	margin: auto;
	margin-top: 20px;
}
